.App {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.board {
  display: inline-block;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.controls {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

.status {
  font-size: 18px;
  font-weight: bold;
}

.headerContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.commands {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
input {
  width: 60%;
}
button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
